Python code for data loading and analysis

In [6]:
import pandas as pd
# Load the dataset
df = pd.read_csv('Telco-Customer-Churn.csv')
# Get data structure overview
data_dictionary = pd.DataFrame({
    "Attribute Name": df.columns,
    "Data Type": df.dtypes.values,
    "Missing Values": df.isnull().sum().values,
    "Unique Values": df.nunique().values
})
# Display the data dictionary
#print("Data Dictionary Overview:")
#print(data_dictionary)
from IPython.display import display
# Display Data Dictionary in Jupyter Notebook
display(data_dictionary)

      Attribute Name Data Type  Missing Values  Unique Values
0         customerID    object               0           7043
1             gender    object               0              2
2      SeniorCitizen     int64               0              2
3            Partner    object               0              2
4         Dependents    object               0              2
5             tenure     int64               0             73
6       PhoneService    object               0              2
7      MultipleLines    object               0              3
8    InternetService    object               0              3
9     OnlineSecurity    object               0              3
10      OnlineBackup    object               0              3
11  DeviceProtection    object               0              3
12       TechSupport    object               0              3
13       StreamingTV    object               0              3
14   StreamingMovies    object               0              3
15          Contract    object               0              3
16  PaperlessBilling    object               0              2
17     PaymentMethod    object               0              4
18    MonthlyCharges   float64               0           1585
19      TotalCharges    object               0           6531
20             Churn    object               0              2

Data Ingestion - with Pandas

In [7]:
#import pandas as pd

# Load the dataset into a Pandas DataFrame
df = pd.read_csv('Telco-Customer-Churn.csv')
# Display first few rows
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes